
<div>
    <h2>Username: {{user.login}}</h2>
    {{error}}
    <div>Name: {{user.name}}</div>
    <div>Location: {{user.location}}</div>
    <hr />
    <div><img ng-src="{{user.avatar_url}}" title="{{user.name}}"></div>
    <hr />
</div>
Order:
<select ng-model="repoSortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars</option>
    <option value="+language">Language</option>
</select>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in repos| orderBy:repoSortOrder">
            <td><a href="#/user/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </tbody>
</table>
<a href="#/main">Back to Search</a>
